# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.db
*.sqlite3
.env
backend/uploads/
backend/camera_frames/

# Flutter / Dart
.dart_tool/
.build/
build/
.pub/
.pub-cache/

# OS generated
.DS_Store
Thumbs.db
